In [5]:
import pandas as pd
import numpy as np
from functools import reduce
def female_worker_percent(series): 
    return (len(list(filter(lambda x: x == 'Female', series))) / len(series) * 100)

income = pd.read_csv('income.csv')
income['count'] = 0
x = income.groupby('native-country').agg({ 'count': len, 'hours-per-week': 'mean', 'gender': female_worker_percent})
print(x)

                            count  hours-per-week      gender
native-country
?                             857       41.032672   28.938156
Cambodia                       28       42.035714   21.428571
Canada                        182       40.406593   34.615385
China                         122       38.262295   27.049180
Columbia                       85       39.929412   37.647059
Cuba                          138       40.101449   36.231884
Dominican-Republic            103       41.621359   46.601942
Ecuador                        45       39.266667   35.555556
El-Salvador                   155       36.361290   34.838710
England                       127       41.937008   35.433071
France                         38       42.789474   36.842105
Germany                       206       40.815534   42.233010
Greece                         49       46.897959   18.367347
Guatemala                      88       38.715909   29.545455
Haiti                          75       36.920000   41.333333
Holand-Netherlands              1       40.000000  100.000000
Honduras                       20       35.650000   55.000000
Hong                           30       40.266667   36.666667
Hungary                        19       37.947368   36.842105
India                         151       41.423841   11.920530
Iran                           59       42.949153   20.338983
Ireland                        37       42.432432   24.324324
Italy                         105       40.942857   26.666667
Jamaica                       106       39.160377   54.716981
Japan                          92       42.282609   33.695652
Laos                           23       39.391304   39.130435
Mexico                        951       40.213460   22.607781
Nicaragua                      49       36.938776   44.897959
Outlying-US(Guam-USVI-etc)     23       41.347826   39.130435
Peru                           46       36.543478   39.130435
Philippines                   295       39.620339   38.983051
Poland                         87       37.689655   27.586207
Portugal                       67       42.238806   20.895522
Puerto-Rico                   184       39.016304   40.760870
Scotland                       21       41.666667   38.095238
South                         115       42.852174   38.260870
Taiwan                         65       39.400000   29.230769
Thailand                       30       44.700000   46.666667
Trinadad&Tobago                27       38.888889   51.851852
United-States               43832       40.440774   33.329531
Vietnam                        86       37.976744   34.883721
Yugoslavia                     23       40.217391   21.739130

In [2]:
#or:
import pandas as pd
import numpy as np
income = pd.read_csv('income.csv')
countries=income['native-country'].unique()
data={}
for country in countries:
    data[country]=[len(income.loc[(income['native-country'] ==country)]),np.mean(income.loc[(income['native-country'] ==country)]['hours-per-week']),((len(income.loc[(income['native-country'] ==country) & (income['gender'] =='Female')])/len(income.loc[(income['native-country'] ==country)]))*100)]
# table=pd.DataFrame.from_dict(data, orient='index',columns=[ 'تعداد افراد در جدول', 'میانگین ساعت کار', 'درصد شاغلین خانم'])

table=pd.DataFrame.from_dict(data, orient='index',columns=[ 'Count_of_person', 'Work_mean', 'Percent_of_Female_workers'])
print(table)
# table

,Count_of_person,Work_mean,Percent_of_Female_worker
United-States,43832,40.440774,33.329531
?,857,41.032672,28.938156
Peru,46,36.543478,39.130435
Guatemala,88,38.715909,29.545455
Mexico,951,40.213460,22.607781
Dominican-Republic,103,41.621359,46.601942
Ireland,37,42.432432,24.324324
Germany,206,40.815534,42.233010
Philippines,295,39.620339,38.983051
Thailand,30,44.700000,46.666667
Haiti,75,36.920000,41.333333
El-Salvador,155,36.361290,34.838710
Puerto-Rico,184,39.016304,40.760870
Vietnam,86,37.976744,34.883721
South,115,42.852174,38.260870
Columbia,85,39.929412,37.647059
Japan,92,42.282609,33.695652
India,151,41.423841,11.920530
Cambodia,28,42.035714,21.428571
Poland,87,37.689655,27.586207
Laos,23,39.391304,39.130435
England,127,41.937008,35.433071
Cuba,138,40.101449,36.231884
Taiwan,65,39.400000,29.230769
Italy,105,40.942857,26.666667
Canada,182,40.406593,34.615385
Portugal,67,42.238806,20.895522
China,122,38.262295,27.049180
Nicaragua,49,36.938776,44.897959
Honduras,20,35.650000,55.000000
Iran,59,42.949153,20.338983
Scotland,21,41.666667,38.095238
Jamaica,106,39.160377,54.716981
Ecuador,45,39.266667,35.555556
Yugoslavia,23,40.217391,21.739130
Hungary,19,37.947368,36.842105
Hong,30,40.266667,36.666667
Greece,49,46.897959,18.367347
Trinadad&Tobago,27,38.888889,51.851852
Outlying-US(Guam-USVI-etc),23,41.347826,39.130435
France,38,42.789474,36.842105
Holand-Netherlands,1,40.000000,100.000000