In [1]:
import pandas as pd
from functools import reduce
import numpy as np
income = pd.read_csv('income.csv')

In [2]:
isoutlier_workclass=(income.loc[:,'workclass']=='?')
income.loc[isoutlier_workclass,'workclass']=np.nan
isoutlier_occupation=(income.loc[:,'occupation']=='?')
income.loc[isoutlier_occupation,'occupation']=np.nan

In [3]:
print("Numbers of rows with nan workclass: ",np.sum( (income.loc[:,'workclass'].isnull())  ))
print("Numbers of rows with nan occupation: ",np.sum( (income.loc[:,'occupation'].isnull())  ))
print("Numbers of rows with nan occupation or nan workclass: ",np.sum( (income.loc[:,'occupation'].isnull()) + (income.loc[:,'workclass'].isnull())))

Numbers of rows with nan workclass:  2799
Numbers of rows with nan occupation:  2809
Numbers of rows with nan occupation or nan workclass:  2809

C:\Users\zst2019\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:177: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  warnings.warn(

In [4]:
df=income.loc[(income['workclass'] .isnull())+(income['occupation'] .isnull())]
print(df)

       age workclass  fnlwgt     education  educational-num  \
4       18       NaN  103497  Some-college               10
6       29       NaN  227026       HS-grad                9
13      58       NaN  299831       HS-grad                9
22      72       NaN  132015       7th-8th                4
35      65       NaN  191846       HS-grad                9
...    ...       ...     ...           ...              ...
48811   35       NaN  320084     Bachelors               13
48812   30       NaN   33811     Bachelors               13
48820   71       NaN  287372     Doctorate               16
48822   41       NaN  202822       HS-grad                9
48823   72       NaN  129912       HS-grad                9

           marital-status occupation   relationship                race  \
4           Never-married        NaN      Own-child               White
6           Never-married        NaN      Unmarried               Black
13     Married-civ-spouse        NaN        Husband               White
22               Divorced        NaN  Not-in-family               White
35     Married-civ-spouse        NaN        Husband               White
...                   ...        ...            ...                 ...
48811  Married-civ-spouse        NaN           Wife               White
48812       Never-married        NaN  Not-in-family  Asian-Pac-Islander
48820  Married-civ-spouse        NaN        Husband               White
48822           Separated        NaN  Not-in-family               Black
48823  Married-civ-spouse        NaN        Husband               White

       gender  capital-gain  capital-loss  hours-per-week native-country  \
4      Female             0             0              30  United-States
6        Male             0             0              40  United-States
13       Male             0             0              35  United-States
22     Female             0             0               6  United-States
35       Male             0             0              40  United-States
...       ...           ...           ...             ...            ...
48811  Female             0             0              55  United-States
48812  Female             0             0              99  United-States
48820    Male             0             0              10  United-States
48822  Female             0             0              32  United-States
48823    Male             0             0              25  United-States

      income
4      <=50K
6      <=50K
13     <=50K
22     <=50K
35     <=50K
...      ...
48811   >50K
48812  <=50K
48820   >50K
48822  <=50K
48823  <=50K

[2809 rows x 15 columns]

In [5]:
ten_most_hours_per_week=income.loc[:,:].sort_values(by='hours-per-week').tail(10)
print(ten_most_hours_per_week)

       age     workclass  fnlwgt     education  educational-num  \
7590    33  Self-emp-inc   96245       HS-grad                9
22899   27       Private  336951       HS-grad                9
7178    34       Private  132544  Some-college               10
37428   39       Private  348521  Some-college               10
31815   29       Private  167716       HS-grad                9
15909   41           NaN  173651    Assoc-acdm               12
31741   37       Private  241174     Bachelors               13
36012   34   Federal-gov  345259     Doctorate               16
40764   39  Self-emp-inc  124685       Masters               14
47273   40  Self-emp-inc  104235       Masters               14

           marital-status        occupation   relationship  \
7590   Married-civ-spouse             Sales        Husband
22899  Married-civ-spouse  Transport-moving        Husband
7178   Married-civ-spouse             Sales        Husband
37428  Married-civ-spouse   Farming-fishing        Husband
31815            Divorced     Other-service      Unmarried
15909  Married-civ-spouse               NaN        Husband
31741  Married-civ-spouse    Prof-specialty        Husband
36012       Never-married    Prof-specialty  Not-in-family
40764            Divorced   Exec-managerial  Not-in-family
47273       Never-married     Other-service      Own-child

                     race  gender  capital-gain  capital-loss  hours-per-week  \
7590                White    Male             0             0              99
22899               White    Male             0             0              99
7178                White    Male             0             0              99
37428               White    Male             0          2415              99
31815               White  Female             0             0              99
15909               White    Male             0             0              99
31741               White    Male             0             0              99
36012               White  Female             0             0              99
40764  Asian-Pac-Islander    Male             0             0              99
47273               White    Male             0             0              99

      native-country income
7590   United-States  <=50K
22899  United-States  <=50K
7178   United-States  <=50K
37428  United-States   >50K
31815  United-States  <=50K
15909  United-States  <=50K
31741  United-States   >50K
36012  United-States  <=50K
40764          Japan   >50K
47273  United-States  <=50K

In [6]:
income_iran=income.loc[income['native-country']=='Iran']
mean_income_iran=np.mean(income_iran['hours-per-week'])
print(mean_income_iran)

42.94915254237288

In [7]:
mean_female_income_iran=np.mean((income_iran.loc[:,'gender']=='Female') )
print(mean_female_income_iran)

0.2033898305084746